---
import "../styles/global.css";
import FordeleCard from "../components/FordeleCard.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <header>
    <Header />
  </header>

	<body>
<main>
	<div class="boks">
		<h2 class="overskrift_fordele">10 Fordele, ved at være medlem af CA</h2>
	    <FordeleCard
		title="Dagpenge efter endt uddannelse"
        imgPath="/img/search.svg"
        />
		<FordeleCard
		title="Dagpenge efter endt uddannelse"
        imgPath="/img/search.svg"
        />
		<FordeleCard
		title="Dagpenge efter endt uddannelse"
        imgPath="/img/search.svg"
        />
    </div>
</main>

	</body>
</html>


 <style>
.overskrift_fordele {
	color: #0C79AD;
	margin-left: 330px;
}
.boks {
 background-color: #1B4473;
 display: inline-block;
 padding: 10px; 
 border-radius: 20px;
 margin-top: 30px;
 margin-left: 220px;
}
 </style>


