---
import "../styles/global.css";
import FordeleCard from "../components/FordeleCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <header>
    <Header />
  </header>

	<body>
		<main>
		<section class="række1">
			<div class="tekst1">
				<h1>CA Studiepartner og A-Kasse</h1>
				<p>Med CA får du en a-kasse, der bringer dig videre i karrieren.
				I CA får du udvikling og tryghed - og den bedste medlemsservice i branchen.
				<div>
	            <Button variant="primary">Blev medlem</Button>
				<Button variant="secondary">Mine fordele</Button>
				</div>
    
			</div>
			<div class="billede_1">
			<img class="billede_rund" src="/img/billede3.webp" alt="image2personer">
			</div>
		</section>

		<section>
		<div class="boks">
		<h2 class="overskrift_fordele">Boost din studietid og sikre din fremtid 
med gode grunde til at melde dig ind
 i en a-kasse nu! </h2>
 <div class="boks2">
	    <FordeleCard
		title="Dagpenge som nyuddannet i op til 1 år"
  imgPath="/img/CA_Logo.svg"
        />
		<FordeleCard
		title="Faglige kurser og kompentenceudvikling"
      imgPath="/img/CA_Logo.svg"
        />
		<FordeleCard
		title="Tips og tricks til et lettere studieliv"
        imgPath="/img/CA_Logo.svg"
        />
			<FordeleCard
		title="Billigere studieforsikring for studerende"
        imgPath="/img/CA_Logo.svg"
        />
	<FordeleCard
		title="Tjek af dine ansættelseskontrakt"
        imgPath="/img/CA_Logo.svg"
        />
		</div>
		<h2 class="overskrift_fordele">Meld dig ind i en a-kasse i dag og tag det første skridt mod karrieremulighederne der venter
</h2>
<h2 class="overskift_grip">- grip chancen nu</h2>
		</section>

		<section id="række3">
			<h2 class="studie_tekst">Studiestarts Kampagne</h2>
			<div class="some_Content">
            <div> <a href="https://youtube.com/playlist?list=PLEnhQmB_CjEsq4Snghif0Na9bjA3hzfAJ&si=pJYzQyf_0dxI8SQb"><img class="billede_rund2" src="/img/kampagne.png" alt="billede"></a></div>
			<div> <a href="https://youtube.com/playlist?list=PLEnhQmB_CjEsq4Snghif0Na9bjA3hzfAJ&si=pJYzQyf_0dxI8SQb"><img class="billede_rund2" src="/img/reklame.png" alt="billede"></a></div>
			<div> <a href="https://youtube.com/playlist?list=PLEnhQmB_CjEsq4Snghif0Na9bjA3hzfAJ&si=pJYzQyf_0dxI8SQb"><img class="billede_rund2" src="/img/tiktok.png" alt="billede"></a></div>
			<div> <a href="https://www.figma.com/file/X89smcji3Av1TnZUTlkv9V/CA?type=design&node-id=158%3A2&mode=design&t=779Xg16q1LVpPG8j-1"><img class="billede_rund2" src="/img/insta.png" alt="billede"></a></div>
			</div>
		</section>
	</main>
	</body>
<Footer />
</html>
<style>

body{
	background-color: #E6E6DE;
}

  /* CSS for mobilskærme (mindre end 768px bredde) */
@media (max-width: 768px) {
.række1 {
background-color: #054673;
margin: 20px 51px 15px 10px;
padding:15px 0px 0px 0px;
border-radius: 20px;

}
#række3 {
background-color: white;
border-radius: 20px;
margin-bottom: 30px;
}


h1 {
	color: white;
	font-weight: bold;
	font-size: 30px;
}
p{
	color: white;
	font-weight:100;
	font-size: 24px;
}
.tekst1{
	text-align: left;
	margin-left: 10px;
}
.billede_1 {
	width: 50%;
	height: auto;
}

.billede_rund2 {
	border-radius: 20px;
	width: 80%;
		margin-left: 50px;
	
}
h2 {
	color: #0C79AD;
	font-weight: bold;
	font-size: 30px;
	margin-left: 50px;
}

.studie_tekst {
	padding: 20px;
	margin-left: 70px;
}
  }
  /* CSS for desktopskærme (bredere end 768px) */
@media (min-width: 768px) {
.række1 {
background-color: #054673;
margin: 40px 60px 10px 40px;
padding:0px 0px 0px 30px;
border-radius: 20px;
 display: grid;
 grid-template-columns: 1fr 1fr;

}
#række3 {
background-color: white;
margin: 40px 60px 70px 40px;
padding:10px 30px 40px 30px;
border-radius: 20px;
}
.some_Content{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px;

}
h2 {
	color: #0C79AD;
	font-weight: bold;
	font-size: 30px;
	margin-left: 455px;
}
.tekst1{
	text-align: left;
	margin-left: 10px;
}
.billede_1 {
	width: 100%;
	height: auto;
	display: grid;
}
.billede_rund {
	border-radius: 20px;
	margin-left: 350px;
}
.billede_rund2 {
	border-radius: 20px;
	width: 100%;
	
}
h1 {
	color: white;
	font-weight: 600;
	font-size: 40px;
}
p{
	color: white;
	font-weight:50;
	font-size: 20px;
}
}

@media (max-width: 768px) {
	.overskrift_fordele {
	color: white;
	margin-left: 20px;
}

.overskift_grip {
	color: white;
	margin-left: 110px;
}

.boks {
 background-color: #0C79AD;
 display: inline-block;
 padding: 10px; 
 border-radius: 20px;
 margin-top: 20px;
 margin-left: 10px;
 width: 85%;
}

.boks2 {
	margin-left: 15%;
}
}

@media (min-width: 768px) {
.overskrift_fordele {
	color: white;
	margin-left: 60px;
}

.overskift_grip {
	color: white;
	margin-left: 550px;
}
.boks {
 background-color: #0C79AD;
 display: inline-block;
 padding: 10px; 
 border-radius: 20px;
 margin-top: 30px;
 margin-left: 40px;
 width: 92%;
}

.boks2{
	margin-left: 7%;
}

.studie_tekst {
	margin-left: 500px;
}
}
 </style>
