  <footer>

<section class="grid_footer">

    <div class="grid_item">
<a href="https://www.facebook.com/cphlightfest">	<img src="/img/facebook.svg" alt="facebook" class="logo_footer"></a>
<a href="https://www.instagram.com/cphlightfest/">	<img src="/img/instagram.svg" alt="instagram" class="logo_footer"></a>
<a href="https://www.instagram.com/cphlightfest/">	<img src="/img/tik-tok.svg" alt="tiktok" class="logo_footer"></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Om CA</p></a>
<a href="/">	<p class="footer_contact">Kontakt</p></a>
<a href="/">	<p class="footer_contact">Nyheder</p></a>
<a href="/">	<p class="footer_contact">Nyhedsbrev</p></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Om CA</p></a>
<a href="/">	<p class="footer_contact">Kontakt</p></a>
<a href="/">	<p class="footer_contact">Nyheder</p></a>
<a href="/">	<p class="footer_contact">Nyhedsbrev</p></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Om CA</p></a>
<a href="/">	<p class="footer_contact">Kontakt</p></a>
<a href="/">	<p class="footer_contact">Nyheder</p></a>
<a href="/">	<p class="footer_contact">Nyhedsbrev</p></a>
</div>

<div>
    <p class="telefon_tekst">Telefon Hverdage:</p>
    <p class="telefon_tekst">08:30 - 15:00</p>
<p class="telefon"><a href="tel:+4533149045">33 14 90 45</a></p>
</div>

<div>
    <a href="/">
	<img src="/logo/mini_logo.png" alt="mini_logo" class="logo_footer1"></a>
</div>
</section>
<p class="footer_text">© CA A-Kasse | <a href="tel:+4533149045">3314 9045</a></p>

  </footer>


</html>

<style>
    p {
        color: white;
    }
    .telefon_tekst {
        font-size: 0.9rem;
        margin: 0;
    }

    .telefon {
        font-size: 1.3rem;
    }
 .grid_footer {
	display: flex;
    flex-direction: column;
	 justify-content: space-between;
 }
 .grid_item1 {
  justify-self: start; /* Placer grid_item1 helt til venstre */
  text-align: left;
}
.grid_item {
  display: flex; /* Gør elementerne inden for denne div til en fleksibel container */
  justify-content: center; /* Ryk indholdet til højre inden for denne div */
margin-right: 15px;
}
 .logo_footer {
      width: 30px;
    }	
	 .logo_footer1 {
      width: 60px;
	  margin-top: 10px;
    }
	.footer_contact {
font-size: 0.7rem;
margin: 5px 15px;
	}
	footer {
		  background-color: #0C79AD;
		padding: 5px;
		text-align: center;
	}
	.footer_text {
		font-size: 0.7rem;
		text-align: center;
		margin: 20px 10px 10px 10px;
	}

	a {
		text-decoration: none;
		color: white;
	}

@media (min-width: 800px)	
{
.grid_footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
 }
 .grid_item1 {
    justify-self: start; /* Placer grid_item1 helt til venstre */
    text-align: left;
}
.grid_item {
    display: flex; /* Gør elementerne inden for denne div til en fleksibel container */
    justify-content: flex-end; /* Ryk indholdet til højre inden for denne div */
    margin-right: 15px;
}
 .logo_footer {
      width: 40px;
      margin-top: 20px;
    }	
	 .logo_footer1 {
      width: 80px;
	  margin-top: 10px;
    }
	.footer_contact {
        font-size: 0.9rem;
        margin: 10px 15px;
	}
	footer {
		  background-color: #0C79AD;
		padding: 5px;
		text-align: center;
	}
	.footer_text {
		font-size: 0.65rem;
		text-align: center;
		margin: 20px 10px 10px 10px;
	}

}