  <footer>

<section class="grid_footer">

    <div class="grid_item">
<a href="https://www.facebook.com/cphlightfest">	<img src="/img/facebook.svg" alt="facebook" class="logo_footer"></a>
<a href="https://www.instagram.com/cphlightfest/">	<img src="/img/instagram.svg" alt="instagram" class="logo_footer"></a>
<a href="https://www.instagram.com/cphlightfest/">	<img src="/img/tik-tok.svg" alt="tiktok" class="logo_footer"></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Om CA</p></a>
<a href="/">	<p class="footer_contact">Kontakt</p></a>
<a href="/">	<p class="footer_contact">Nyheder</p></a>
<a href="/">	<p class="footer_contact">Nyhedsbrev</p></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Studiepartner</p></a>
<a href="/">	<p class="footer_contact">Instant feedback</p></a>
<a href="/">	<p class="footer_contact">Løntjek</p></a>
</div>

	<div class="grid_item1">
<a href="/">	<p class="footer_contact">Persondatapolitik</p></a>
<a href="/">	<p class="footer_contact">Cookiepolitik</p></a>
<a href="/">	<p class="footer_contact">Tilgængelighedserklæring</p></a>
</div>

<div class="info">
    <p class="telefon_tekst">Telefon Hverdage</p>
    <p class="telefon_tekst">08:30 - 15:00</p>
<p class="telefon"><a href="tel:+4533149045">33 14 90 45</a></p>
</div>

<div class="logo-footer2">
    <a href="/">
	<img src="/logo/CA_Logo_vertikal.png" alt="mini_logo" id="logo_footer1"></a>
	<img src="/logo/CA_Logo.png" alt="mini_logo" id="logo_footer2"></a>
</div>

</section>
<p class="footer_text">© CA A-Kasse | <a href="tel:+4533149045">3314 9045</a></p>

  </footer>


</html>

<style>

  /* CSS for mobilskærme (mindre end 768px bredde) */
@media (max-width: 768px) {

  #logo_footer1 {
    display: block; /* Vis mobilbilledet på mobilenheder */
  }
  #logo_footer2 {
    display: none; /* Skjul webbilledet på mobilenheder */
  }
   p {
        color: white;
    }
    .telefon_tekst {
        font-size: 0.9rem;
        margin: 0;
    }

    .telefon {
        font-size: 1.3rem;
    }
 .grid_footer {
	display: flex;
    flex-direction: column;
	 justify-content: space-between;
 }
 .grid_item1 {
  justify-self: start; /* Placer grid_item1 helt til venstre */
  text-align: left;
}
.grid_item {
  display: flex; /* Gør elementerne inden for denne div til en fleksibel container */
  justify-content: center; /* Ryk indholdet til højre inden for denne div */
margin-right: 15px;
margin-top:20px;
}
 .logo_footer {
      width: 30px;
    }	
	 #logo_footer1 {
      width: 30%;
	  margin-top: 10px;
	  margin-left:350px;
    }
	.footer_contact {
font-size: 0.7rem;
margin: 5px 15px;
	}
	footer {
		  background-color: #0C79AD;
		padding: 5px;
		text-align: center;
	}
	.footer_text {
		font-size: 0.7rem;
		text-align: center;
		margin: 20px 10px 10px 10px;
	}

	a {
		text-decoration: none;
		color: white;
	}

	.info {
		margin-top: 40px;
	}

	.telefon {
	text-decoration:underline;
	font-size:20px
}
}



/* CSS for desktopskærme (bredere end 768px) */
@media (min-width: 768px) {
  #logo_footer2 {
    display: block; /* Vis webbilledet på desktop */
  }

  #logo_footer1 {
    display: none; /* Skjul mobilbilledet på desktop */
  }

   p {
        color: white;
    }

	a {
	text-decoration: none;
	color: white;
	}

  .grid_footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
 }
 .grid_item1 {
    justify-self: start; /* Placer grid_item1 helt til venstre */
    text-align: left; 
	margin-left:20px;
}


.grid_item {
    display: flex; /* Gør elementerne inden for denne div til en fleksibel container */
    justify-content: flex-end; /* Ryk indholdet til højre inden for denne div */
	 grid-column: 4;
    grid-row: 1;
	margin-top:-70px;
}
 .logo_footer {
      width: 40px;
      margin-top: 20px;
    }	
	 #logo_footer2 {
      width: 30%;
    }
	.footer_contact {
        font-size: 0.9rem;
        margin: 10px 15px;
	}
	footer {
		  background-color: #0C79AD;
		padding: 5px;
		text-align: center;
	}
	.footer_text {
		font-size: 0.65rem;
		text-align: center;
		margin: 20px 10px 10px 10px;
	}


.info {
 grid-column: 2/ span 3;
    grid-row: 2/ span 3;
margin-left: -366px;
margin-top:60px;
}

.logo-footer2 {
	display: flex; /* Gør elementerne inden for denne div til en fleksibel container */
    justify-content: flex-end; /* Ryk indholdet til højre inden for denne div */
	 grid-column: 4;
    grid-row: 2;
}

.telefon {
	text-decoration:underline;
	font-size:30px
}
}